* {
    margin: auto;
    padding: 0px;
}

.first-heading {
    font-family: 'Open Sans', sans-serif;
}

.first-heading {
    color: #272727;
    font-size: 80px;
}

.p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* width: 70%; */
    margin-top: 20px;
}

.section-one {
    padding: 150px 60px;
    /* text-align: center;
    align-items: center; */
}

.button {
    display: inline-flex;
    padding: 20px 43px;
    align-items: center;
    gap: 10px;
    border: none;
    color: #FFF;
    border-radius: 10px;
    background: #E55473;
    margin-top: 20px;
}

.picture {
    padding-right: 100px;
    margin-bottom: 0px;
}

.header {
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    height: 100vh;
    padding: 40px 70px 0px 0px;
    display: flex;
}

/* section 2  */

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    /* margin-top: 20px; */
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    width: auto;
}


.flower-container {
    display: flex;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

.flower {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100vh;
    background: #FFF;
    margin: 120px 120px;
}

.one {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    padding: 80px 30px 0px 30px;

}

.two {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    /* height: 470px; */
    /* width: 300px; */
    width: 464px;
    height: 538px;
    padding: 80px 30px 0px 30px;
}

.three {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    /* height: 470px; */
    /* width: 300px; */
    width: 464px;
    height: 538px;
    padding: 80px 30px 0px 30px;
}

.flower-title {

    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 30px;
}

.section-three {
    display: flex;
    height: 50vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px;
    margin: 0px;
}

.hot {
    color: #272727;
    font-size: 40px;
    /* font-weight: 800; */
}

.off {
    color: rgb(237, 66, 123);
}

.offer {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    /* width: 65%; */
    font-size: 18px;
    line-height: 30px;
}

.action {
    padding: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 150px;
}

.flower-eight {
    justify-content: space-around;

}

/* section-four */
.Instagram {
    color: #272727;
    text-align: center;
    font-size: 40px;
}

.pera {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.section-four {
    /* display: flex; */
    /* align-items: center; */
    /* text-align: center; */
    /* height: 100vh; */
    background: #FFF;
    margin: 100px 120px;
}

.box-container {
    display: flex;
    /* gap:- 430px; */
    text-align: center;
    align-items: center;
    margin-top: 40px;

}

/* section-five */
.section-five {
    height: 50vh;
    background-image: url('../Flower/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 100px 150px;
    /* width: 400px; */
    /* height: 400px; */

}

.deals {
    padding-top: 150px;
    text-align: center;
    align-items: center;
}

.deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.email {
    padding: 20px 400px 20px 10px;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
}

/* section-six */


/* .form{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: centers;
    width: left;
    height: 30px;
    
    /* gap: 5px; */
}

*/ footer {
    background-color: black;
}

.section-six {
    height: 20vh;

    background-color: #111010;
    /*  */
    /* background-color: ; */
    text-align: center;
    padding-top: 100px;
}

.footer-title {
    font-size: 48px;
    color:  #FFFFFF;
}

.footer-flower {
    color: #E55473;
    
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.end{
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-size: 16px;
/* margin-top: 200px; */
}